<div class="profile">
    <div class="profile-menu">
        <div class="back"
             routerLink="/dashboard">
            <i class="fa-solid fa-arrow-rotate-left icon-logout"><span>Back</span></i>
        </div>
        <div (click)="logout()"
             class="logout">
            <i class="fa-solid fa-arrow-right-from-bracket icon-back"><span>Logout</span></i>
        </div>
    </div>
    <div class="profile-body">
        <form #form="ngForm"
              (ngSubmit)="onUpdateProfile(newUsername, form)">
            <label for="new-username">New Username:
                <input type="text"
                       id="new-username"
                       name="new-username"
                       [(ngModel)]="newUsername"
                       required>
                @if(form.submitted) {
                @if(form.controls['new-username'].errors?.['required']) {
                <span class="error">This field is required.</span>
                }
                }
            </label>
            <button type="submit">Update Profile</button>
        </form>
    </div>
</div>
