<div class="profile">
    <div class="profile-body">
        <form #form="ngForm"
              (ngSubmit)="onUpdateProfile(newUsername, form)">
            <label for="new-username">Change Username:
                <input type="text"
                       id="new-username"
                       name="new-username"
                       [(ngModel)]="newUsername"
                       required>
                @if(form.submitted) {
                @if(form.controls['new-username'].errors?.['required']) {
                <span class="error">This field is required.</span>
                }
                }
            </label>
            <button type="submit">Update Profile</button>
        </form>
    </div>
</div>
<app-dark-mode></app-dark-mode>
