<!-- MENU, NAVIGATION -->
@if (!isToDoVisible) {
<div class="menu-nav">
    <div class="open">
        <i (click)="isToDoVisible = !isToDoVisible"
           class="fa-solid fa-arrow-up-right-from-square"><span style="margin-left: 10px">Show to do app</span></i>
    </div>
    <div routerLink="/profile"
         class="profile">
        <i class="fa-solid fa-user"><span style="margin-left: 10px"><span
                      style="margin-right: 5px;">{{firebaseAuth.currentUser?.displayName}}</span> Profile</span></i>
    </div>
</div>
}

<!-- TO DO APP -->
@if(isToDoVisible) {
<div class="container centered">
    <i (click)="isToDoVisible = !isToDoVisible"
       class="fa-solid fa-xmark hide"></i>
    <app-add-task></app-add-task>
    <h1 style="text-align: center; margin-bottom: 20px">Your tasks list: ({{todoList.length}})</h1>
    <app-filter-list [toDoList]="todoList"></app-filter-list>
    @for(todo of todoList; track todo.task; let i = $index) {
    <div (dblclick)="todo.isEditing = !todo.isEditing"
         class="task">
        @if (todo.isEditing) {
        <app-edit-task style="width: 100%"
                       [toDoId]="i"></app-edit-task>
        }
        @if (!todo.isEditing) {
        <p [ngClass]="{'line-through' : todo.isCompleted}">{{i + 1}}. {{todo.task}} - </p>
        <app-remove-task [toDoId]="i"></app-remove-task>
        <app-task-done [toDoId]="i"
                       [isCompleted]="todo.isCompleted"></app-task-done>
        }
    </div>
    }
    <span style="font-size: 12px; font-weight: bold;">Want to edit a task? Double-click on it!</span>
</div>
}
