<div class="register-form">
    <h1>Register</h1>
    <form #form="ngForm"
          (ngSubmit)="onSubmit(form)">
        <input type="text"
               name="username"
               id="username"
               [(ngModel)]="username"
               placeholder="Username"
               required>
        @if (form.submitted && !username) {
        <p class="error">
            Username is required field.
        </p>
        }
        <input type="text"
               name="email"
               id="email"
               [(ngModel)]="email"
               placeholder="Email"
               required>
        @if (form.submitted && !email) {
        <p class="error">
            Email is required field.
        </p>
        }
        <input type="password"
               name="password"
               id="password"
               [(ngModel)]="password"
               placeholder="Password"
               required>
        @if (form.submitted && !password) {
        <p class="error">
            Password is required field.
        </p>
        }
        <button type="submit">Register</button>
        <a routerLink="/">Already have an account? Log in!</a>
        @if(errorMessage) {
        <p class="error-submit">{{ errorMessage }}</p>
        }
    </form>
</div>
