* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Montserrat", system-ui;
  color: #333;
  background-color: lightblue;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.error {
  display: block;
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}

.center {
  text-align: center;
}

body.dark {
  background-color: black;

  .todo-container {
    background-color: black;
    border: 3px solid white;
  }
  .add-task-container {
    background-color: black;
  }
  .weather-form {
    background-color: black;
  }
  .weather-info {
    background-color: black;
  }
  .profile-body form {
    background-color: black;
    border: 1px solid white;
    & label {
      color: white;
    }
  }
  .login-form {
    background-color: black;
    border: 1px solid white;
    & h1 {
      color: white !important;
    }
  }
  .register-form {
    background-color: black;
    border: 1px solid white;
    & h1 {
        color: white !important;
    }
  }

  div,
  p,
  span,
  button,
  label,
  h1 {
    color: white;
  }
}
