* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Montserrat", system-ui !important;
  color: #333;
  background: linear-gradient(45deg, #ff6f61, #d3a1a8);
}

button {
  font-family: "Montserrat", system-ui !important;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.error {
  display: block;
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}

.center {
  text-align: center;
}

body.dark {
  background: linear-gradient(45deg, #333, #555) !important;

  .todo-container,
  .add-task-container,
  .weather-form,
  .weather-info,
  .profile-body form,
  .login-form,
  .register-form,
  .welcome-container {
    background-color: black;
    border: 1px solid white;
  }

  .todo-container {
    border-width: 3px;
  }

  .profile-body form label,
  .login-form h1,
  .register-form h1 {
    color: white;
  }

  .error {
    color: red !important;
  }

  div,
  p,
  span,
  button,
  label,
  h1 {
    color: white;
  }
}
