* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Montserrat", system-ui;
  color: #333;
  background-color: lightblue;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

.error {
  display: block;
  color: red;
  margin-bottom: 10px;
  font-size: 13px;
}

.center {
  text-align: center;
}
